<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>17/11/23 14:27:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestAPI.afterMethod(org.testng.ITestResult)[pri:0, instance:com.api.test.TestAPI@754ba872]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/11/23 14:27:16</td>   <td>-2016</td> <td>&nbsp;</td><td title="&gt;&gt;TestAPI.beforeTest()[pri:0, instance:com.api.test.TestAPI@754ba872]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/11/23 14:27:18</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;TestAPI.endTest()[pri:0, instance:com.api.test.TestAPI@754ba872]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/11/23 14:27:17</td>   <td>-1336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAPI.testGET()[pri:0, instance:com.api.test.TestAPI@754ba872]">testGET</td> 
  <td>main@112061925</td>   <td></td> </tr>
</table>
